<div>
  <p class="playback" value="{{playback}}">{{playback}}</p>
  <p class="path" value="{{path}}">{{path}}</p>
  <p class="index" value="{{index}}">{{index}}</p>
  <input type="button" class="start_button_details" value="Start">
  <input type="button" class="stop_button_details" value="Stop">
</div>

