<div class="show-song-container">
  <div class="song-img">
    <img src="{{image}}" alt="">
  </div>
  <p class="playback" value="{{playback}}">Playback rate: {{playback}}</p>
  <p class="path" value="{{path}}" hidden>{{path}}</p>
  <div class="controls-song">
    <input type="button" class="start_button_details">
    <input type="button" class="stop_button_details">
    {{#if own}}
    <button class="delete-btn"><a href="/delete/{{id}}/{{songId}}">X</a></button>
    {{/if}}
  </div>
</div>

