<div class="freesoundPartial">            
    <p>Num results:  {{sound.count}} </p><br>
    <p>{{sound.name}} by {{sound.username}} with id: {{sound.id}}</p>
    <img src="{{sound.images.waveform_l}}">
</div>